
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
 
<div class="container">
    <div class="row">
        <div class="col-sm">
                <h6>
                        Sitemap
                </h6>
            <table class="table table-bordered">
               
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Page</th>
        
                  </tr>
                </thead>
                <tbody>
                    <tr>
                       <th scope="row">0</th>
                                
                     <td><a routerLink="/">Home</a></td>
                                
                    </tr>

                  <tr>
                    <th scope="row">1</th>
                    
                    <td><a routerLink="/ubuntu-19.04-installation">Ubuntu Installation</a></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    
                    <td><a routerLink="/ubuntu-tutorials">Ubuntu Tutorials</a></td>
             
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td><a routerLink="/detecting-open-port-linux">Detecting Open Port on Linux</a></td>
             
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td><a routerLink="/ubuntu-nodejs-installation">Node Js Installation On Ubuntu</a></td>
             
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td><a routerLink="/ubuntu-openssh">Open SSH</a></td>
             
                  </tr>

                  <tr>
                    <th scope="row">6</th>
                    <td><a routerLink="/feedback">Feedback</a></td>
             
                  </tr>

                  <tr>
                    <th scope="row">7</th>
                    <td><a routerLink="/privacy">Privacy</a></td>

             
                  </tr>
                  
                  <tr>
                    <th scope="row">8</th>
                    <td><a routerLink="/aboutus">About Us</a></td>
             
                  </tr>
                  
                  

                </tbody>
              </table>
        </div>
    </div>
</div>