<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

<div class="container-fluid">
    <div class="row no-gutters">

      <div class="col-sm-3" style="margin:2%;padding-left:0%;padding-right:0%;">

          <a routerLink="/detecting-open-port" class="custom-card">
          <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
             
                <img class="card-img-top" src="assets/images/ubuntu/Tutorials/openport.jpg" alt="Card image cap">

                <div class="card-body">
                        <h5 class="card-title">Detect Open Port</h5>
                        <p class="card-text">We Will always look at different ways to check which network port currently being listened on network for incoming connection Security Or Vulnerability has always been concern for us   </p>
                        <br><button mat-raised-button color="accent">Read More</button>
               </div>
              
            </div>
 
          </a>


    
          
      </div>

      <div class="col-sm-3" style="padding-left:0%;padding-right:0%;margin:2%;">
            <a routerLink="/detecting_openport" class="custom-card">
                <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
                   
                      <img class="card-img-top" src="assets/images/ubuntu/Tutorials/nonrootuser.png" alt="Card image cap">
      
                      <div class="card-body">
                              <h5 class="card-title">Create Non Root User On KaLi</h5>
                              <p class="card-text">In the world of linux, most Linux distors ask user to use low level privileges while usin    g operating 
                                  system for security reason   </p>
                              <br><button mat-raised-button color="accent">Read More</button>
                     </div>
                     
                  </div>
       </a>
    
    </div>

    <div class="col-sm-3" style="padding-left:0%;padding-right:0%;margin:2%;">
            <a routerLink="/detecting_openport" class="custom-card">
                <div class="card" style="width: 18rem;height:28rem;display:inline-block;">
                   
                      <img class="card-img-top" src="assets/images/ubuntu/Tutorials/nonrootuser.png" alt="Card image cap">
      
                      <div class="card-body">
                              <h5 class="card-title">Create Non Root User On KaLi</h5>
                              <p class="card-text">In the world of linux, most Linux distors ask user to use low level privileges while usin    g operating 
                                  system for security reason   </p>
                              <br><button mat-raised-button color="accent">Read More</button>
                     </div>
                     
                  </div>
       </a>
    
    </div>

       
      </div>
      </div>
