<div class="container">
    <div class="row">
        <div class="col-sm">

            <div>
                <table>
                    <th>Blog Sitemap</th><br>
                    <tr>
                        <b>Url For Ubuntu</b>
                    </tr>

                    <tr>
                        <td>
                            https://visionrosetta.in/ubuntu
                        </td>
                    </tr>

                    <tr>
                        <td>
                            https://visionrosetta.in/ubuntu/nodejs</td><br>
                 
                            <td>
                    </tr>
                    <tr>
                        <td>
                            https://visionrosetta.in/ubuntu/nmap
                        </td><br>

                    </tr><br>
 
                    <tr>
                        <b>Url For Windows</b>
                    </tr>

                    <tr>
                        <td>
                            https://visionrosetta.in/windows/putty
                        </td>
                    </tr>

                    <tr>
                        <td>
                            https://visionrosetta.in/windows/nmap</td><br>
                 
                            <td>
                    </tr>
                    <tr>
                        <td>
                            https://visionrosetta.in/windows/Nginx
                        </td><br>

                    </tr>
                      
                          
                </table>
            </div>
        </div>
    </div>
</div>