<head>
  
  <title>about us</title>
  <meta name="utf-8">
  <meta name="aboutus" content="about us ">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<div class="container">
    <div class="row">
        <div class="col-sm-10">

            <div class="card" >
                <div class="card-header" style="font-size: 15px ;">
                  About Us
                </div>
                <div class="card-body">
                  <h5 class="card-title">What is VisionRosetta</h5>
                  <p class="card-text">VisionRosetta is a Blog started on <b>July  15 , 2019</b>  by Shaharukh Parmar, This Blog was started with single minded to help tech enthusiast, 
                    also We respect the our users and understand their time,
                     , therefore we always trying scraps to provided high quality content to our users
                  </p>
                  <div class="col-sm-4" style="text-align: center;" >
                    <img  class="img-fluid" src="assets/images/aboutus/aboutimage.png" err="blogimageerror" >
                  </div>
                <br><br>
                 <p><b>Founder</b></p>

                 <span>
                    I am Shaharukh Parmar the Founder and Chief Editor of VisionRosetta.in, I am Working as IT Professional since 2018
                    <br>
                    <div class="col-sm-4" style="text-align: center;" >
                        <img src="assets/images/aboutus/Founder.jpg" err="mineimagerror" class="img-fluid">
                    </div>
                    
                 </span>
                 <br>
                 Email:shaharukh.rsp786@gmail.com
                </div>
               
              </div>
        </div>
    </div>
    <br><br><br><br><br>
</div>  