<head>
  <meta charset="UTF-8">
  <meta name="description" content="submit your feedback">
  <meta name="feedback" content="feedback">
  <title>feedback</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title">Feedback</h5>
                  <hr>

                  <p class="card-text">Hi Friends,  <br><br>
                    Feedback is Paramount for us , so please submit your valuable feedback , so we can make further improvement
                     
                  </p>
                 <b>
                        Send Your Valuable Feedback To:
                 </b>
                 shaharukh.rsp786@gmail.com
                  
                <br><br>
     
                </div>
               
              </div>
        </div>
    </div>
    <br><br><br><br><br>
</div>  