<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="linux,ubuntu,kalilinux">
  <meta name="keywords" content="howtoinstallubuntu,kaliupdates">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
</head>

<div id="google_translate_element"></div>
<div class="navbarsetting">

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#2C3E50;color:white;">
      <img src="assets/images/favicon.ico" style="width:4%;height:4%;">
 

       <a class="navbar-brand" style="margin-left: 1%;font-family: 'Cedarville Cursive', cursive;
       ;line-height: 45px;font-size: 25px;">Vision Rosetta</a>

        <button mat-raised-button color="primary" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" >
            <i class="fas fa-bars"></i>
 
        </button>

        <div style="margin-left:2%"  class="collapse navbar-collapse"  id="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" [ngbCollapse]="isCollapsed" [ngClass]="{collapse: isCollapsed}">
          <ul   class="nav navbar-nav" (click)="isCollapsed = !isCollapsed">
            <li class="nav-item active">
              <a class="nav-link" href="#"  routerLink="" ><i class="fa fa-home" aria-hidden="true"></i>
                HOME <span class="sr-only">(current)</span></a>
            </li>
 
 
             <li class="nav-item active">
              <a class="nav-link"  routerLink="ubuntu-tutorials"><i class="fab fa-linux"></i>
                UBUNTU  <span class="sr-only">(current)</span></a>
            </li>

             <li class="nav-item active">
              <a class="nav-link"  routerLink=""><i class="fab fa-linux"></i>
              KALI  LINUX <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
              <a class="nav-link"  routerLink=""><i class="fab fa-linux"></i>
               LINUX COMMAND <span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item active">
                <a class="nav-link"  routerLink="feedback"><i class="fab fa-avianex"></i>
                  FEEDBACK <span class="sr-only">(current)</span></a>
              </li>
  
         
           </ul>


        </div>
      </nav>


</div>

