<link href="https://fonts.googleapis.com/css?family=Hepta+Slab|Roboto+Slab&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans|Roboto|Source+Sans+Pro&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

<head>
  <meta name="utf-8">
  <meta name="ubuntu,nodejs,kalilinux,openssh" content="Ubuntu Installation,OpenSshconnection">
  <title>Vision Rosetta</title>
</head>
<div class="container-fluid">
    <div class="row">

      <div class="col-sm-8" style="margin:2%;">

          <a routerLink="/ubuntu-19.04-installation" class="custom-card">
          <div class="card" style=" display: inline-block;">
            

            <div class="card-body">
              <h1>How  To install the Ubuntu 19.04 LTS</h1>
              <span  >
                Post On :7,Oct 2019
              </span> <br>
               <br>
                  <a routerlink="ubuntu-19.04-installation" href="ubuntu_installation-19-04"><img src="assets/images/ubuntuinstallation.jpg" err="ubuntudisplayerror" width="40%" height="10%"></a><br><br>
                  <span>
                   Ubuntu 19.04 Long Term Support Which Means it support 9 Month until April, 2021,  So In this tutorials We will Learn how to install fresh ubuntu 18.04 Lts on Desktop/Laptop With steps by steps Guides so next time you can Install in chunk of time without need to refer any documents  <a routerLink="/ubuntu-19.04-installation"> 
                    <br><br><button mat-raised-button color="accent">Read More</button>
                    
                    </a>

                  </span>

                </div>
              
            </div>
  
          </a>
      </div>

     
     
    </div>

    <div class="row">

      <div class="col-sm-8" style="margin:2%;">
        <a routerLink="/ubuntu-nodejs-installation" class="custom-card">
          <div class="card" style="display: inline-block;">

              <div class="card-body">
                <h1>How  To install Node Js on Linux</h1>
                <span  >
                  Post On :7,Oct 2019
                </span> <br><br>


                    <a routerLink="/ubuntu-nodejs-installation"><img src="assets/images/nodejs.jpg" err="nodejsdisplayerror" width="40%" height="10%"></a>
                    <p>Node Js Is Free and Open Source Server Environment developed to build scalable modern application,one of most paramount thing about node js is it run on various plataform Like(Windows, Linux, Mac Os)etc,
                      in this post we will learn how to install Node Js on linux through some handful command on terminal <a href="#"Mbr> <br>
                      <br><button mat-raised-button color="accent">Read More</button></a></p>

                  </div>
              </div>
              </a>
      </div>
      
    </div>
    


    <div class="row">
      <div class="col-sm-8" style="margin:2%;">
        <a routerLink="/ubuntu-openssh" class="custom-card">
          <div class="card" style="display:inline-block;">


              <div class="card-body">
                <h1 
                    >How  To install the Open SSH On Linux</h1>
                    <span  >
                      Post On :7,Oct 2019
                    </span> <br><br>
    
 
                    <a href="#"><img src="assets/images/openssh.jpg" err="opensshdisplayerror" width="40%" height="10%"></a>
                    <p> Open SSH  is Secure Networking based Secure Sheel Protocoll Normally use to encrypt all traffic to eliminate eavesdropping, connection hijacking, data stealing etc.<a href="#"><br> 
                      <br>  <button mat-raised-button color="accent">Read More</button>
                    </a></p>

                  </div>
              </div>
      </a>
      </div>
    
    </div>
     
</div>



    <div style="margin:0%;width:100%;margin-top:0%;">
        <header style="background-color: #4682B4">
           <div class="container">
              <h3 style="text-align: center;color:white;padding:2%;margin:2%;font-family: 'Merriweather', serif;line-height: 45px;font-size: 20px;">Recent Post On Kali Linux</h3>
             <br><br>
               <div class="row ">
                   <div class="col-md-4 text-center text-md-left " style="padding:2%;">
                     
                      
                  
                        <a routerLink="putty" class="custom-card">
                           
                                  <div class="card" style="width:20rem;height:10rem;display: inline-block;" >
                                        
                                    <div class="card-body">
                                        <h4 style=" font-family: 'Merriweather', serif;font-size: 19px;color:rgb(37,37,37);">PUTTY</h4>
          
                              <p>in this post we will learn how to use SSH in putty on windows machine and learn basic command to operate it </p>
                                    </div>
                                    
                                  </div>
           
                                </a>
                   </div>
                   <div class="col-md-4 text-center text-md-left " style="padding:2%;">

                         <a routerLink="nmap" class="custom-card">
                           
                              <div class="card" style="width:20rem;height:10rem;display: inline-block;" >
                                    
                                <div class="card-body">
                                    <h4 > NMAP </h4>
      
                                    <p>in this tutorials we will learn how to install Nmap on windows and how can we use it to scan network 
                                        and 
                                      </p>
                                </div>
                                
                              </div>
       
                            </a>
                          </div>

                          <div class="col-md-4 text-center text-md-left " style="padding:2%;">
                          <a routerLink="#" class="custom-card">
                           
                              <div class="card" style="width:20rem;height:10rem;display: inline-block;" >
                                    
                                <div class="card-body"> 
                                    <h4> Nginx </h4>
                                    <p>Nginx is web server used as reverse proxy ,load balancer and HTTP Cache </p>
                                    
                                </div>
                                
                              </div>
       
                            </a>
                          </div>
                  
 
                </div>
              </div>

                 

   
           <br><br><br><br><br>
 
         </header>
       </div>
<br><br>